@mixin xxlarge-lg {
    @media(min-width:1600px) {
        @content;
    }
}

@mixin xxlarge {
    @media(min-width:1400px) {
        @content;
    }
}

@mixin xlarge {
    @media(min-width:1200px) {
        @content;
    }
}

@mixin mediumXlarge {
    @media(min-width:1160px) {
        @content;
    }
}

@mixin preXlarge {
    @media(min-width:1024px) {
        @content;
    }
}


@mixin large {
    @media(min-width:992px) {
        @content;
    }
}

@mixin medium {
    @media(min-width:768px) {
        @content;
    }
}

@mixin small {
    @media(min-width:576px) {
        @content;
    }
}

@mixin xsmall{
    @media(min-width:375px){
        @content;
    }
}
body {
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
    color: $dark;
    background: $dark;

}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: block;
    color:$white;
    &:hover{
        color:$gray-800 !important;
    }
}

ul {
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}